# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Python cache
.pytest_cache/

# Logs
*.log